
/*Botões de ação*/
a.editar, a.excluir{
    margin: 0 5px 0 5px;
    color: white;
    padding: 5px;
    border: none;
    width: 80px;
}


button.editar:hover, a.excluir:hover{
    color: black;
}

button.editar{
   background-color: green;
}

button.excluir{
    background-color: red;
}

nav{
    background-color: white;
}

main{
	height : 100%;
}