header.banner{
    background-color: red;
    overflow: hidden;
}

header.banner h1{
    padding-top:20px;
}

span.img-replacement{
    display: none;
}

.logo{
    background-image: url("../res/img/logo-faz-de-tudo.png") ;
    width : 400px;
    height: 400px;
}