#mei{
    background-image: url("../../res/img/mei-img.png") ;
    margin-top: 20px;
    width : 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

#cliente{
    background-image: url("../../res/img/cliente-img.png") ;
    margin-top: 20px;
    width : 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-align: center;
    display: block;
}

article{
    float: right;
    width: 500px;
    display: block;
}

section{
    width: 1000;
    margin: 20 auto;
    overflow: hidden;
    display: block;
}
