#mei{
    background-image: url("../../res/img/logo-faz-de-tudo.png") ;
    margin-top: 20px;
    width : 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

#cliente{
    background-image: url("../../res/img/logo-faz-de-tudo.png") ;
    margin-top: 20px;
    width : 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

article{
    margin-top: 50px;
    float: right;
    width: 500px;
    display: block;
    text-align: center;
}

section{
    
    width: 1000;
    margin: 20 auto;
    overflow: hidden;
    display: block;
}
