@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

body{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

span.img-replacement{
    display: none;
}

p{
    padding: 20px;
}

section{
    padding: 20px;
}

h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

fieldset{
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
}

.feedback{
    color: red;
    font-size: 75%;
    text-align: right;
}

/* nav futuante*/
nav{
    background-color: #252525;
    overflow: hidden;
}

nav > ul{
    margin : 5px 30px 5px 0px;
    float: right;
    font-size: 24px;
}

nav > ul > li > a{
    text-decoration: none;
}

nav > ul > li{
    display: inline-block;
    padding: 5px;
    margin: 0px;
    border: 2px solid black;
    background-color : white;
    width: 120px;
    text-align: center;
    transition-duration: 0.5s;
}

nav > ul > li#current{
    border: 4px solid green;
}


nav > ul > li:hover{
    background-color: black;
    color: white;
}