@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

body{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

span.img-replacement{
    display: none;
}

p{
    padding: 20px;
}


article{
    float: right;
    width: 500px;
    display: block;
}

article#conteudo{
    width: 800px;

}

section{
    width: 1000;
    margin: 20 auto;
    overflow: hidden;
    display: block;
}

article#conteudo{
    float: right;
    width: 500px;
    display: block;
}

article#conteudo{
    float: right;
    width: 80%;
    display: block;
}


h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

fieldset{
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
}

.feedback{
    color: red;
    font-size: 75%;
    text-align: right;
}

.feedback-sucess{
    color: green;
}


/* nav futuante*/
nav.flutuante{
    background-color: #3d3d3d;
    overflow: hidden;
}

nav.flutuante > ul{
    margin : 5px 30px 5px 0px;
    float: right;
    font-size: 24px;
}

nav.flutuante > ul > li > a{
    text-decoration: none;
    padding: 10px;
    color: white;
    margin: 0px;
}

nav.flutuante > ul > li{
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    transition-duration: 0.5s;
}

nav.flutuante > ul > li#current{
    border: 4px solid white;
}



nav.flutuante > ul > li:hover{
    background-color: white;
}

nav.flutuante > ul > li > a:hover{
    color: black;
}


/* nav para menu lateral*/
nav.menu{
    padding-top: 20px;
    margin-left: 10px;
}

nav.menu button{
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    border: 2px solid black;
    background-color : white;
    width: 180px;
    height: 40px;
    transition-duration: 0.5s;
}

nav.menu button:hover{
    background-color: black;
    color: white;
}
