section#login{    
    width : 600px;
    height: 400px;
    margin: 100px auto 100px auto;
    border-color: black;
    text-align: center;
}

#cadastrar{
    display: initial;
    text-align: left;
    font-size:75%;
}

#login input {
    width: 300px;
    display: block;
    margin: 5px auto;
    text-align: center;
}
#login form {
    margin-top: 70px;
}
#login button{
    width : 300px;
    right: 0px;
}