<html>
<head>
    <title>Cadastro passo 2</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/cadastro.css">
</head>
<body>
    <section>
        <header>
            <h1>Cadastro Passo 2</h1>
            <h2>Informe seus dados para criar uma conta como MEI</h2>
        </header>
        <article>
            <h1 id = 'mei'>
                <span class = 'img-replacement'>Logo do site</span>
            </h1>
            <p>
            descrição do que é uma conta MEI  descrição do que é uma conta MEI
            descrição do que é uma conta MEI  descrição do que é uma conta MEI
            descrição do que é uma conta MEI  descrição do que é uma conta MEI
            descrição do que é uma conta MEI  descrição do que é uma conta MEI
            descrição do que é uma conta MEI  descrição do que é uma conta MEI
            descrição do que é uma conta MEI  descrição do que é uma conta MEI
            </p>
        </article>
        <article>
            <form>
                <fieldset>
                    <legend>Dados de acesso</legend>
                    
                    <label for="loginId">Nome de usuário*</label>
                    <input type="text" name="loginFld" id="loginId"><br>
                    
                    <label for="senhaId">Senha*</label>
                    <input type="password" name="senhaFld" id="senhaId"><br>
                    
                    <label for="conSenhaId">Confirmar senha*</label>
                    <input type="password" name="conSenhaFld" id="conSenhaId"><br>
                </fieldset>
                <fieldset>
                    <legend>Informações Cliente</legend>
                    <fieldset>
                        <legend>Tipo</legend>
                        
                        <label for="fisicoId">Físico</label>
                        <input checked onclick="alterarFisico()" type="radio" name="tipoFld" value="Físico" id="fisicoId">
                        
                        <label for="juridicoId">Jurídico</label>
                        <input onclick="alterarJuridico()" type="radio" name="tipoFld" value="Jurídico" id="juridicoId">
                    </fieldset>

                    <label for="nomeId">Nome*</label>
                    <input type="text" name="nomeFld" id ="nomeId"><br>

                    <label for="cpfCnpjId">CPF*</label>
                    <input type="text" name="cpfCnpjFld" id ="cpfCnpjId"><br>

                    <label for="nascId">Data de Nascimento</label>
                    <input type="date" name="nascFld" id="nascId"><br>

                    <fieldset id = 'sexoFsID'>
                        <legend>Sexo</legend>

                        <label for="mascId">Masculino</label>
                        <input checked type="radio" name="sexoFld" value="M" id="mascId">

                        <label for="femId">Feminino</label>
                        <input type="radio" name="sexoFld" value="F" id="femId">

                        <label for="outroId">Outro</label>
                        <input type="radio" name="sexoFld" value="O" id="outroId">
                    </fieldset>
                    
                    <fieldset>
                        <legend>Contato</legend>

                        <label for="emailId">E-mail</label>
                        <input checked type="radio" name="contatoFld" value="e-mail" id="emailId">

                        <label for="telefoneId">Telefone</label>
                        <input type="radio" name="contatoFld" value="tel" id="telefoneId">

                        <input type="email" id="descConatoId" placeholder="Digite contato">

                    </fieldset>
                </fieldset>
            </form>
            <span class = 'feedback'></span><br>
            <button onclick="cadastroClienteMei('mei')">Finalizar cadastro</button>
        </article>
    </section>
    <script src ="../js/cClienteMei.js"></script>
</body>
</html>