<html>
<head>
    <title>Cadastro passo 2</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/cadastro.css">
</head>
<body>
    <section>
        <header>
            <h1>Cadastro Passo 2</h1>
            <h2>Informe seus dados para criar uma conta como Cliente</h2>
        </header>
        <article>
            <h1 id = 'cliente'>
                <span class = 'img-replacement'>Imagem de cliente</span>
            </h1>
            <p>
                descrição do que é uma conta Cliente  descrição do que é uma conta Cliente
                descrição do que é uma conta Cliente  descrição do que é uma conta Cliente
                descrição do que é uma conta Cliente  descrição do que é uma conta Cliente
                descrição do que é uma conta Cliente  descrição do que é uma conta Cliente
                descrição do que é uma conta Cliente  descrição do que é uma conta Cliente
                descrição do que é uma conta Cliente  descrição do que é uma conta Cliente
            </p>
        </article>
        <article>
            <form>
                <fieldset>
                    <legend>Dados de acesso</legend>
                    
                    <label for="loginId">Nome de usuário*</label>
                    <input type="text" name="loginFld" id="loginId"><br>
                    
                    <label for="senhaId">Senha*</label>
                    <input type="password" name="senhaFld" id="senhaId"><br>
                    
                    <label for="conSenhaId">Confirmar senha*</label>
                    <input type="password" name="conSenhaFld" id="conSenhaId"><br>
                </fieldset>
                <fieldset>
                    <legend>Informações Cliente</legend>
                    <fieldset>
                        <legend>Tipo</legend>
                        
                        <label for="fisicoId">Físico</label>
                        <input checked onclick="alterarFisico()" type="radio" name="tipoFld" value="f" id="fisicoId"><br>
                        
                        <label for="juridicoId">Jurídico</label>
                        <input onclick="alterarJuridico()" type="radio" name="tipoFld" value="j" id="juridicoId"><br>
                    </fieldset>

                    <label for="nomeId">Nome*</label>
                    <input type="text" name="nomeFld" id ="nomeId"><br>

                    <label for="cpfCnpjId">CPF*</label>
                    <input type="text" name="cpfCnpjFld" id ="cpfCnpjId"><br>

                    <label for="nascId">Data de Nascimento</label><br>
                    <input type="date" name="nascFld" id="nascId">

                    <fieldset id = 'sexoFsID'>
                        <legend>Sexo</legend>

                        <label for="mascId">Masculino</label>
                        <input checked type="radio" name="sexoFld" value="M" id="mascId"><br>

                        <label for="femId">Feminino</label>
                        <input type="radio" name="sexoFld" value="Físico" id="femId"><br>

                        <label for="outroId">Outro</label>
                        <input type="radio" name="sexoFld" value="O" id="outroId"><br>
                    </fieldset>
                </fieldset>
            </form>
            <span class = 'feedback'></span><br>
            <button onclick="cadastroClienteMei('cliente')">Finalizar cadastro</button>
        </article>
    </section>
    <script src ="../js/cClienteMei.js"></script>
</body>
</html>