<html>
<head>
    <title>Cadastro passo 1</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/cadastro.css">
</head>
<body>
    <section>
        <header>
            <h1>Cadastro Passo 1</h1>
        </header>
        <article>
            <h1 id = 'mei'>
                <span class = 'img-replacement'>Logo do site</span>
            </h1>
            <a href="mei/cadastro.html">Desejo ser um MEI</a>
            <p>
                Com uma conta de micro empreendedor individual (MEI), você poderá definir cidades que 
                trabalha e serviços que presta, assim clientes poderão solicitar seus serviços.
                Nada impede também de um solicitar serviços de outros MEIs. Ou seja você terá acesso 
                a todas as funcionalidades que um cliente comum tem. Como também fornecer seus serviços
                a terceiros.
            </p>
        </article>
        <article>
            <h1 id = 'cliente'>
                <span class = 'img-replacement'>Logo do site</span>
            </h1>
            <a href="cliente/cadastro.html">Desejo ser um Cliente</a>
            <p>
                Com uma conta de Cliente você poderá solicitar serviços a MEIs. Definir endereços comuns 
                que solicita serviços e contatos para auxiliar nesse processo. Ou seja, clientes têm seu 
                conjunto de funcionalidades relacionadas a solicitação de serviços, cancelamento, conclusão,
                e visualização de histórico.
            </p>
        </article>
    </section>
</body>
</html>