<html>
<head>
    <title>Acesso ao sistema</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <section id = "login">
        <h1>Acesso ao sistema</h1>
        <form>
            <label for="loginId">Login:</label><br/>
            <input type="text" name = "loginFld" id ="loginId"><br/>
            <label for="senhaId">Senha:</label><br/>
            <input type="password" name ="senhaFld" id ="senhaId"><br/>
        </form>
        <button onclick="logar()">Entrar</button><br>
        <a href="cadastro.html">Cadastrar uma nova conta</a><br/>
    </section>
    <script src="js/ajax.js"></script>
</body>
</html>